section.search
    h1 Вы добавили 666 помещений в избранное

    .search__sort.sort
        span.sort__title Сортировать:
        .sort__list
            <!-- Для выбранного варианта сортировки добавляем к кнопке '.sort__btn' класс '._current' -->
            a(href="javascript:void(0)").sort__btn По помещениям
            a(href="javascript:void(0)").sort__btn._current По бизнес-центрам
            a(href="javascript:void(0)").sort__btn Добавлено к заявке <span>(13)</span>
            a(href="javascript:void(0)").sort__btn-clear Очистить

    <!-- показывать Плиткой (форма после каждого БЦ) -->
    include ../search/search_table_form.pug


<!-- Слайдер с помещениями -->
include ../../components/cards_list.pug

<!-- Прямая аренда на выгоднях условиях -->
include ../../components/rent.pug

<!-- Синяя проклятая форма -->
include ../../components/form_gg.pug