footer
    .footer-bot
        .n-container.footer-bot__n-container
            p Все права защищены.© 2010-2019 Galoremen
            a(href="http://instagram.com/midyanets" target='_blank' title='instagram.com/midyanets') Midyanets 2019