section.gui
    img(src="./img/blog_example_img.jpg" style="display: none;")

    .gui__col


        .gui__item
            p.gui__item-title Обычный дропдаун

            .dd
                .dd__label Бизнес центр
                select.dd__select( style='width: 100%;')
                    option(value="0" disabled='disabled') Не выбран
                    option(value="1") Бизнес центр 1
                    option(value="2") Бизнес центр 2
                    option(value="3") Бизнес центр 3

        .gui__item
            p.gui__item-title Составная строка с дропдаунами и инпутами

            .dd-row
                .dd
                    .dd__label Бизнес центр
                    select.dd__select( style='width: 100%;' placeholder='Бизнес-центр')
                        option(value="0" disabled='disabled') Не выбран
                        option(value="1") Option 1 gfhfkg sdfs gfhgf sdf hgf fgfdg dfg df
                        option(value="2") Option 2
                        option(value="3") Option 3
                        option(value="3") Option 4
                .dd
                    .dd__label Дата
                    select.dd__select( style='width: 100%;' placeholder='Бизнес-центр')
                        option(value="0" disabled='disabled') Не выбрано
                        option(value="1") 10:00 - 11:00
                        option(value="2") 11:00 - 12:00
                        option(value="3") 12:00 - 13:00
                .dd
                    .dd__label Время
                    select.dd__select( style='width: 100%;' placeholder='Бизнес-центр')
                        option(value="0" disabled='disabled') Не выбрано
                        option(value="1") 10:00 - 11:00
                        option(value="2") 11:00 - 12:00
                        option(value="3") 12:00 - 13:00

        .gui__item
            p.gui__item-title Switch

            label.switch
                input(type="checkbox")
                .switch__oval

        .gui__item
            p.gui__item-title Checkbox

            label.chbox
                input(type="checkbox")
                .chbox__box
                span.chbox__label Чекни меня

        .gui__item
            p.gui__item-title Checkbox для этажей

            label.chfloor
                input(type="checkbox")
                span 2a

        .gui__item
            p.gui__item-title Двойной input обычный

            .double-input
                span.double-input__label Площадь
                input(type="text" placeholder='от').double-input__from
                span
                input(type="text" placeholder='до').double-input__to
                .double-input__measure м<sup>2</sup>

        .gui__item
            p.gui__item-title Двойной input с выбором параметра

            .double-input
                span.double-input__label Цена
                input(type="text" placeholder='от').double-input__from
                span
                input(type="text" placeholder='до').double-input__to
                .double-input-dd
                    select.dd__select( style='width: 100%;')
                        option(value="1") ₽/мес.
                        option(value="2") ₽/м<sup>2</sup>

        .gui__item
            p.gui__item-title Кнопка

            button.btn.btn--blue Показать 666 помещений
            button.btn.btn--sun Показать 666 помещений