header.header
    a(href='/' ).logo
        .logo__img
            <svg class="logo__icon">
              <use xlink:href="#logo"></use>
            </svg>
        .logo__col
            .logo__name Квартал
            .logo__desc Управляющаяя компания

    a(href='tel:88127401902').header__tel 8 (812) 740 19 02
    
    .burger
        span