mixin about_services_item(title, text)
    li.about-services__item
        .about-services__item-title.text-title= title
        .about-services__item-text.text= text

section.about-services
    .about-services__title.page-title Услуги компании

    ul.about-services__list
        +about_services_item('Офисы от собственника', 'Мы даем арендаторам возможность существенно сократить расходы на аренду коммерческой недвижимости с целью сохранения и увеличения вашей прибыли')
        +about_services_item('Аренда под производство', 'Полностью оборудованные помещения площадью от 80 м2 до 1000 м2,  и удобно расположенные в деловой зоне в непосредственной близости от выезда на «КАД»')
        +about_services_item('Аренда склада', 'Высокотехнологичные помещения с контролем высоких и низких температур, грузовыми подъездами, пандусами и лифтами')
        +about_services_item('Аренда торговых площадей', 'Все удобства для работников (парковка, кофейные автоматы, банкоматы, фитнес-центр и ресторан) и вашего бизнеса (грузовые лифты, двухэтажные офисы)')
        +about_services_item('Аренда холодильных складов', 'Аренда современных складов-холодильников двух типов в ЗАО «ОП «Квартал-Недвижимость».')
