section.about-bc
    .about-bc__title.page-title Бизнес-центры

    ul.about-bc__list
        .about-bc-item
            .about-bc-item__content
                .about-bc-item__name Бизнес-центр «К-1»
                .about-bc-item__class Класс В+
                .about-bc-item__address Ново-Рыбинская 19-21, Московский р-н

                <!-- см. коммент в конце этого блока -->
                ul.about-bc-item__metro
                    li.about-bc-item__metro-item.icon-metro__blue Московские Ворота, Фрунзенская
                    li.about-bc-item__metro-item.icon-metro__violet Обводный Канал
                a(href='tel: 88127401902').about-bc-item__tel 8 (812) 740-19-02
                .about-bc-item__desc «Квартал» предлагает недвижимость высокого класса в Московском районе Санкт-Петербурга. Прямая аренда от собственника включает в себя офисные, складские, производственные и торговые помещения под одной крышей
                a(href='').about-bc-item__link Смотреть 666 помещений


            .about-bc-item__img
                img(src="./img/bc/bc_1.jpg", alt="")


        .about-bc-item
            .about-bc-item__content
                .about-bc-item__name Бизнес-центр «К-2»
                .about-bc-item__class Класс В+
                .about-bc-item__address Обуховской Обороны 86, лит. М, Невский р-н

                <!-- см. коммент в конце этого блока -->
                ul.about-bc-item__metro
                    li.about-bc-item__metro-item.icon-metro__green Елизаровская, Ломоносовская
                a(href='tel: 88124545754').about-bc-item__tel 8 (812) 454-57-54
                .about-bc-item__desc «Квартал» предлагает недвижимость высокого класса в Московском районе Санкт-Петербурга. Прямая аренда от собственника включает в себя офисные, складские, производственные и торговые помещения под одной крышей
                a(href='').about-bc-item__link Смотреть 666 помещений


            .about-bc-item__img
                img(src="./img/bc/bc_2.jpg", alt="")


        .about-bc-item
            .about-bc-item__content
                .about-bc-item__name Бизнес-центр «К-3»
                .about-bc-item__class Класс В, C
                .about-bc-item__address Арсенальная 78, Калининский р-н

                <!-- см. коммент в конце этого блока -->
                ul.about-bc-item__metro
                    li.about-bc-item__metro-item.icon-metro__red Лесная, Площадь Ленина
                a(href='tel: 88125424820').about-bc-item__tel 8 (812) 542-48-20
                .about-bc-item__desc «Квартал» предлагает недвижимость высокого класса в Московском районе Санкт-Петербурга. Прямая аренда от собственника включает в себя офисные, складские, производственные и торговые помещения под одной крышей
                a(href='').about-bc-item__link Смотреть 666 помещений


            .about-bc-item__img
                img(src="./img/bc/bc_3.jpg", alt="")


<!-- Метро группируются по линии (в примере ниже Моск. ворота и Фрунзенская принадлежат синей ветке, выводятся через запятую в одном теге с классом 'about-bc-item__metro-item'). Для управления цветом к тегу с классом .about-bc-item__metro-item добавляются классы: Красная - icon-metro__red; Синяя - icon-metro__blue; Зеленая - icon-metro__green; Фиолетовая - icon-metro__violet;Оранжевая - icon-metro__orange; Коричневая - icon-metro__brown; Серая - icon-metro__grey; -->