section.about
    .page-title.about__title Управляющая компания «Квартал-Недвижимость»

    .about-main
        .about-main__col
            .about-main__title.text-title Бизнес-центры ЗАО ОП «Квартал-Недвижимость»
            .about-main__text.text ЗАО «Объединенное предприятие «Квартал-Недвижимость» создано в результате реорганизации ЗАО «Квартал» в 2006 году. Изначально образована путем приватизации «Городской фруктовой конторы» — старейшего Ленинградского предприятия, ведущего свою историю с 1932 года. 
            .about-main__text.text На сегодняшний день в частной собственности предприятия находится три коммерческих комплекса общей площадью более 56 000 м2, объединенных в единую сеть. Все объекты недвижимости расположены в непосредственной близости от центра города в деловых зонах Московского, Калининского и Невского районах Санкт-Петербурга.
        .about-main__logo
            .about-main__logo-sqr
            <svg class="about-main__logo-icon">
              <use xlink:href="#logo"></use>
            </svg>


    <!-- Бизнес центры -->
    include about_bc.pug

    <!-- Услуги компании -->
    include about_services.pug

    <!-- Преимущества + Как арендовать помещение -->
    include about_how.pug


    <!-- Слайдер с помещениями -->
    include ../../components/cards_list.pug

    <!-- Прямая аренда на выгоднях условиях -->
    include ../../components/rent.pug

    <!-- Синяя проклятая форма -->
    include ../../components/form_gg.pug