.order {
    width: 100%;

    display: flex;
    flex-direction: column;

    padding-top: 18px;


    h1 {
        .page-title;
        margin-bottom: 250px;
        max-width: 882px;
    }
    

    &__sort {
        margin-bottom: 110px;
    }
}




@media only screen and (max-width: 1366px){

    .order h1 {
        font-size: 35px;
        margin-bottom: 140px;
    }

}




@media only screen and (max-width: 1024px){

    .order h1 {
        margin-bottom: 110px;
    }


    .order__sort {
        margin-bottom: 80px;
    }
}



@media only screen and (max-width: 768px){

    .order__sort {
        margin-bottom: 64px;
    }


    .order h1 {
        margin-bottom: 80px;
    }
}


@media only screen and (max-width: 640px){

    
    .order h1 {
        margin-bottom: 64px;
    }


}