.page-title {
    font-family: 'Roboto', sans-serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 1.3;
    text-align: left;
    color: var(--royal_blue);
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.56;
    text-align: left;
    color: var(--dark);
}


.text-title {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.43;
    text-align: left;
    color: var(--dark);
}


.text-14-grey {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: left;
    color: var(--brownish_grey);
}

.text-14-dark {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: left;
    color: var(--dark);
}

.text-18-grey {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.56;
    text-align: left;
    color: var(--brownish_grey);
}

.text-18-dark {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.56;
    text-align: left;
    color: var(--dark);
}


@media only screen and (max-width: 1366px){

    .page-title {
        font-size: 35px;
        line-height: 1.42;
    }


    .text-title {
        font-size: 22px;
    }
}