section.object-promo
    h1 Бизнес-центр «К-1»
    span.object-promo__class.text-title Класс В+
    p.object-promo__desc.text-18-dark Пятиэтажное здание площадью 29 000 м2 и парковкой на 350 машиномест. Аренда помещения в Московском районе на улице Ново-Рыбинская, 19-21 может осуществлена на коммерческих площадях различных типов — офисных, торговых, складских.

    ul.object-promo__list
        li
            span.text-14-grey Метро
            p.text-18-dark Московские ворота
        li
            span.text-14-grey Адрес
            p.text-18-dark Ново-Рыбинская, 19-21
        li
            span.text-14-grey Режим работы
            p.text-18-dark Круглосуточно 
        li
            span.text-14-grey Общая площадь
            p.text-18-dark 29 000 м²
        li
            span.text-14-grey Доступно к аренде
            p.text-18-dark От 31 до 372 м²


    .object-promo__galery
        .swiper-pagination.object-promo__pagination
        .object-promo__next
            <svg>
                <use xlink:href="#arrow_right"></use>
            </svg>
        .object-promo__prev
            <svg>
                <use xlink:href="#arrow_left"></use>
            </svg>
        .swiper-wrapper
            img(src="./img/blog_example_img.jpg", alt="").swiper-slide
            img(src="./img/blog_example_img.jpg", alt="").swiper-slide
            img(src="./img/blog_example_img.jpg", alt="").swiper-slide