
<!-- Главный разворот с галереей -->
include object_promo.pug


<!-- Планировка и выбор помещений -->
include object_main.pug


<!-- Как добраться -->
include object_map.pug


<!-- Информационные списки и пр. текста -->
include object_list.pug


<!-- Синяя проклятая форма -->
include ../../components/form_gg.pug