section.object-map
    h2 Как добраться
    .object-map__container

        .object-map-left

            ul.object-map-list.list
                li Бесплатная развозка сотрудников от станции метро Московские Ворота
                li Быстрый выезд на Лиговский проспект, Московский проспект, Витебский проспект, а также улицы Черниговская, Киевская, Рыбинская и наб. Обводного Канала
            .object-map-metro
               .object-map-metro__item
                   span.object-map-metro__item-metro.icon-metro__blue Фрунзенская
                   span.object-map-metro__item-time._walking ~19 мин
                   span.object-map-metro__item-how
               .object-map-metro__item
                   span.object-map-metro__item-metro.icon-metro__blue Московские Ворота 
                   span.object-map-metro__item-time._bus ~7 мин
                   span.object-map-metro__item-how Бесплатно
               .object-map-metro__item
                   span.object-map-metro__item-metro.icon-metro__violet Обводный Канал
                   span.object-map-metro__item-time._bus ~10 мин
                   span.object-map-metro__item-how Автобусы 26, 3


        .object-map-right

            .object-map__map
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2000.7769742572434!2d30.335242316172362!3d59.90265167196313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469630468e244fa5%3A0xb097a88ea8f86ba1!2z0J3QvtCy0L4t0KDRi9Cx0LjQvdGB0LrQsNGPINGD0LsuLCAxOSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5NjA4NA!5e0!3m2!1sru!2sru!4v1572524273318!5m2!1sru!2sru" allowfullscreen="" width="100%" height="472" frameborder="0")

            .object-map-bullets
                .object-map-bullets__item
                    span.object-map-bullets__item-title 10 мин
                    span.object-map-bullets__item-text от ст. м. Фрунзенская
                .object-map-bullets__item
                    span.object-map-bullets__item-title 11 км
                    span.object-map-bullets__item-text от развязки КАД
                .object-map-bullets__item
                    span.object-map-bullets__item-title 16 км
                    span.object-map-bullets__item-text от аэропорта Пулково
                .object-map-bullets__item
                    span.object-map-bullets__item-title 4 км
                    span.object-map-bullets__item-text от центра города
