section.object-main
    h2 Свободные помещения

    .object-main__container

        .object-main__left
            span.object-main__update-date Обновлено 30 июля
            
            <!-- блок для типа помещений ( офисы, склады, производство и т.д.) -->
            .object-main-type

                .object-main-type-heading
                    span.object-main-type-heading__name Офисы
                    span.object-main-type-heading__param от 450 руб/м²
                    span.object-main-type-heading__amount(all='64' ) 23

                .object-main-type__sorts
                    a(href="javascript:void(0)").object-main-type__sort Помещение
                    a(href="javascript:void(0)").object-main-type__sort Ставка
                    a(href="javascript:void(0)").object-main-type__sort Цена/мес

                <!-- Список помещений начинается отсюда -->

                .object-main-room._show
                    .object-main-room-heading
                        span.object-main-room-heading__sqr 10,2 м²
                        span.object-main-room-heading__price 2 150 ₽
                        span.object-main-room-heading__price-month 129 564 ₽/мес
                    .object-main-room__content
                        .object-main-room__galery
                            .object-main-room__img._current
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                        
                        .object-main-room__main
                            a(href="javascript:void(0)").object-main-room__name Офис 36,6 м² + Склад 1 306,6 м²
                            a(href="javascript:void(0)").object-main-room__add-fav.add-fav
                                <svg class="icon-fav">
                                    <use xlink:href="#star"></use>
                                </svg>
                                span.add-fav__add В избранное
                                span.add-fav__rem Удалить
                        .object-main-room__desc.text-14-grey 2 кабинета, санузел, кондиционер, без окон и дверей
                        ul.object-main-room__info
                            li
                                span.text-14-grey Тип
                                p.text-14-dark Производственное
                            li
                                span.text-14-grey Этаж
                                p.text-14-dark 4/5
                            li
                                span.text-14-grey Потолок
                                p.text-14-dark 4 м
                            li
                                span.text-14-grey Особые условия
                                p.text-14-dark УСН, предоплата за первый и залог за последний месяц, бессрочный договор

                .object-main-room
                    .object-main-room-heading
                        span.object-main-room-heading__sqr 20,2 м²
                        span.object-main-room-heading__price 22 150 ₽
                        span.object-main-room-heading__price-month 1219 564 ₽/мес
                    .object-main-room__content
                        .object-main-room__galery
                            .object-main-room__img._current
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                        .object-main-room__main
                            a(href="javascript:void(0)").object-main-room__name Офис 36,6 м² + Склад 1 306,6 м²
                            a(href="javascript:void(0)").object-main-room__add-fav.add-fav
                                <svg class="icon-fav">
                                    <use xlink:href="#star"></use>
                                </svg>
                                span.add-fav__add В избранное
                                span.add-fav__rem Удалить
                        .object-main-room__desc.text-14-grey 2 кабинета, санузел, кондиционер, без окон и дверей
                        ul.object-main-room__info
                            li
                                span.text-14-grey Тип
                                p.text-14-dark Производственное
                            li
                                span.text-14-grey Этаж
                                p.text-14-dark 4/5
                            li
                                span.text-14-grey Потолок
                                p.text-14-dark 4 м
                            li
                                span.text-14-grey Особые условия
                                p.text-14-dark УСН, предоплата за первый и залог за последний месяц, бессрочный договор


                .object-main-room
                    .object-main-room-heading
                        span.object-main-room-heading__sqr 30,2 м²
                        span.object-main-room-heading__price 33 150 ₽
                        span.object-main-room-heading__price-month 1295 564 ₽/мес
                    .object-main-room__content
                        .object-main-room__galery
                            .object-main-room__img._current
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                            img(src="./img/room_example.jpg", alt="").object-main-room__img
                        .object-main-room__main
                            a(href="javascript:void(0)").object-main-room__name Офис 36,6 м² + Склад 1 306,6 м²
                            a(href="javascript:void(0)").object-main-room__add-fav.add-fav
                                <svg class="icon-fav">
                                    <use xlink:href="#star"></use>
                                </svg>
                                span.add-fav__add В избранное
                                span.add-fav__rem Удалить
                        .object-main-room__desc.text-14-grey 2 кабинета, санузел, кондиционер, без окон и дверей
                        ul.object-main-room__info
                            li
                                span.text-14-grey Тип
                                p.text-14-dark Производственное
                            li
                                span.text-14-grey Этаж
                                p.text-14-dark 4/5
                            li
                                span.text-14-grey Потолок
                                p.text-14-dark 4 м
                            li
                                span.text-14-grey Особые условия
                                p.text-14-dark УСН, предоплата за первый и залог за последний месяц, бессрочный договор

        .object-main__right
            <!-- Для текущего этажа к кнопке добавляем класс '._current', а для тех, в которых есть свободные помещения добавляем '._free' -->
            .object-main__floors
                a(href="javascript:void(0)").object-main__floor._current 1 этаж
                a(href="javascript:void(0)").object-main__floor._free 2 этаж
                a(href="javascript:void(0)").object-main__floor 2А этаж
                a(href="javascript:void(0)").object-main__floor 3 этаж
                a(href="javascript:void(0)").object-main__floor 4 этаж
                a(href="javascript:void(0)").object-main__floor 5 этаж


            <!-- План помещения + галерея изображений. На мобилке это безобразие будет преображено в обычный слайдер. [1] Аттрибут 'room-id' - для управления отображением галереи конкретного помещения; [2] Аттрибут 'object' - для генерации навигационных иконок слева для плана помещения и каждой фотки -->
            .object-main-plan
                .object-main-plan__ctrls
                    .object-main-plan__prev
                        <svg>
                            <use xlink:href="#arrow_left"></use>
                        </svg>
                    .object-main-plan__next
                        <svg>
                            <use xlink:href="#arrow_right"></use>
                        </svg>
                .swiper-wrapper(room-id='1')._show
                    .object-main-plan__plan(object='plan' room-img-id='').swiper-slide
                    img(src="./img/bc/bc_2_big.jpg", alt="" object='img').object-main-plan__plan.swiper-slide._show
                    img(src="./img/bc/bc_3_big.jpg", alt="" object='img').object-main-plan__plan.swiper-slide
                    img(src="./img/bc/bc_2_big.jpg", alt="" object='img').object-main-plan__plan.swiper-slide



            form(action="").object-main-form
                p.object-main-form__title Оставьте заявку, чтобы посмотреть это помещение в живую
                .object-main-form__row
                    input(type="text" placeholder='Телефон для связи')
                    button(type='submit').btn.btn--sun Записаться на просмотр
                p.object-main-form__text-min Подтвердим по телефону. Нажимая на кнопку «Записаться на просмотр» вы соглашаетесь на обработку персональных данных согласно <a href='javascript:void(0)'>условиям</a>.

            <!-- Так выглядит блок-форма после успешной отправки -->
            form(action="").object-main-form
                p.object-main-form__title Заявка на просмотр помещения №11890 отправлена!
                p.object-main-form__text Мы свяжемся с вами в течение 30 минут для согласования времени просмотра
                a(href="javascript:void(0)").object-main-form__cancel-btn Отменить просмотр

            
            <!-- Выпадающие подсказки к помещению в планировке -->
            .object-tooltip
                a(href="javascript:void(0)").object-tooltip__add-fav.add-fav
                    <svg class="icon-fav">
                        <use xlink:href="#star"></use>
                    </svg>
                    span.add-fav__add В избранное
                    span.add-fav__rem Удалить

                .object-tooltip__name Помещение №122990
                .object-tooltip__desc 2 кабинета, санузел, кондиционер, без окон, кондиционер, без окон
                .object-tooltip__container
                    img(src="./img/cards_list_example_img.jpg", alt="")
                    ul.object-tooltip__info
                        li
                            span Тип
                            p Склад-холодильник -холодильник
                        li
                            span Площадь
                            p.blue 1 000,6 м²
                        li
                            span Стоимость
                            p.blue 10 495 282 ₽/мес


            <!-- Для простых помещений ( туалет, переговорная комната и т.п.) -->
            .object-tooltip._simple
                .object-tooltip__name Туалет


<!--  Для количества свободных помещений. Необходимо в тег с классом ".object-main-type-heading__amount" выводить в аттрибут "all" общее количество помещений, чтобы регулировать заполненность цветной плашки для свободных помещений (сейчас там рандомные цифры, чтобы ты наглядно посмотрел чокаво). После подгрузки кол-ва свободных помещений, js подсчитывает какие ширину и цвет задать этой плашечке -->