section.rent
    .rent__title.page-title Прямая аренда на выгодных условиях

    .rent__row
        .rent__item
            .rent__item-title.text-title Входит в арендную плату
            ul.rent__item-list.list
                li Юридический адрес
                li НДС
                li Коммунальные услуги
                li Охрана помещений 24/7
                li Круглосуточное видеонаблюдение
                li Уборка помещений общего пользования
                li Почтовые ячейки
                li Услуги ресепшен по встрече гостей
                li Перепланировка помещений
                li Развозка от/до ст.м. Московские ворота

        .rent__item
            .rent__item-title.text-title Оплачивается отдельно
            ul.rent__item-list.list
                li Вывоз мусора
                li Интернет / Телефония
                li Парковка
                li Электроэнергия

        .rent__item
            .rent__item-title.text-title Особые условия
            p.rent__item-text.text Наши цены одни из самых низких в городе — 350 рублей за квадратный метр. В них включены: коммунальные услуги, ежедневная уборка, быстрый интернет, грузоподъемники, грузовые лифты и другие услуги.

            .rent__item-docs
                <!-- договор аренды для этого бизнес центра -->
                a(href='').rent__item-doc Договор аренды (бизнес-центр «К-1»).doc
            
            .rent__item-text.text Отдел аренды компании «Квартал»
            a.rent__item-tel.text-title(href='tel:88127401902') 8 (812) 740-19-02


section.rent
    .rent__title.page-title Cовременные  решения для комфорта и безопасности

    .rent__row
        .rent__item
            .rent__item-title.text-title Инженерные системы
            ul.rent__item-list.list
                li Автономное теплоснабжение
                li Водоснабжение (горячее, холодное)
                li Приточно-вытяжная вентиляция
                li Кондиционирование (кроме 2-го этажа)
                li Интернет и IP-телефония (Spline, ВестКолл)
                li 6 пассажирских лифтов (OTIS, KONE)
                li 2 грузовых лифта (OTIS, KONE)
                li Грузовые подъезды и пандусы
                li Гостевая парковка на 350 машиномест

        .rent__item
            .rent__item-title.text-title Безопасность
            ul.rent__item-list.list
                li Охрана объекта 24/7
                li Круглосуточное видеонаблюдение
                li Система контроля доступа в здание
                li Пожарная сигнализация
                li Огнетушители пожарные рукава в МОП

        .rent__item
            .rent__item-title.text-title Комфорт
            p.rent__item-text.text Наши здания оснащены надежной системой лифтов и грузоподъёмников, имеют приятный интерьер, светлые и просторные помещения. В помещениях сделан качественный ремонт с использованием высококлассных современных материалов.



section.rent
    .rent__title.page-title Инфраструктура здания и района

    .rent__row
        .rent__item
            .rent__item-title.text-title Еда и магазины
            ul.rent__item-list.list
                li Ресторан «Quartier Gourmet»
                li Бистро «Кубик»
                li Фитнес-клуб «Fitness 24»
                li Автосервис «TOYOTA»
                li Двухэтажный торговый центр 
                li Автомойка

        .rent__item
            .rent__item-title.text-title Спорт и хобби
            ul.rent__item-list.list
                li Ресторан «Quartier Gourmet»
                li Бистро «Кубик»
                li Фитнес-клуб «Fitness 24»
                li Автосервис «TOYOTA»
                li Двухэтажный торговый центр 
                li Автомойка

        .rent__item
            .rent__item-title.text-title Гос. учреждения
            ul.rent__item-list.list
                li Ресторан «Quartier Gourmet»
                li Бистро «Кубик»
                li Фитнес-клуб «Fitness 24»
                li Автосервис «TOYOTA»
                li Двухэтажный торговый центр 
                li Автомойка

        .rent__item
            .rent__item-title.text-title Общественный транспорт
            ul.rent__item-list.list
                li Ресторан «Quartier Gourmet»
                li Бистро «Кубик»
                li Фитнес-клуб «Fitness 24»
                li Автосервис «TOYOTA»
                li Двухэтажный торговый центр 
                li Автомойка


        .rent__item
            .rent__item-title.text-title Отдых и развлечения
            ul.rent__item-list.list
                li Ресторан «Quartier Gourmet»
                li Бистро «Кубик»
                li Фитнес-клуб «Fitness 24»
                li Автосервис «TOYOTA»
                li Двухэтажный торговый центр 
                li Автомойка