section.reviews
    .page-title.reviews__title Отзывы посетителей

    .review
        .review__title БЦ «К-1», Ново-Рыбинская 19/21
        ul.review__list
            li.review-item
                .review-item__main
                    .review-item__header
                        .review-item__ava Н
                        span.review-item__name Никита
                    p.review-item__review Удобная большая бесплатная парковка, на первом этаже кафе-столовая, есть круглосуточный фитнес клуб, вежливые сотрудники на ресепшн

                .review-item__footer
                    span Отзыв на <a href='' target='_blank'>yandex.ru</a>

            li.review-item
                .review-item__main
                    .review-item__header
                        .review-item__ava Н
                        span.review-item__name Никита
                    p.review-item__review Удобная большая бесплатная

                .review-item__footer
                    span Отзыв на <a href='' target='_blank'>yandex.ru</a>

            li.review-item
                .review-item__main
                    .review-item__header
                        .review-item__ava Н
                        span.review-item__name Никита
                    p.review-item__review Удобная большая бесплатная парковка, на первом этаже кафе-столовая, есть круглосуточный фитнес клуб, вежливые сотрудники на ресепшн тная парковка, на первом этаже кафе-столовая, есть круглосуточный фитнес клуб, вежливые сотрудники на ресепшн

                .review-item__footer
                    span Отзыв на <a href='' target='_blank'>yandex.ru</a>

    .reviews__thx Спасибо, что вы с нами!