section.cards-list
    .cards-list__title.page-title Выгодные предложения по аренде

    .cards-list__slider
        .cards-list__slider-ctrls
            <svg class="cards-list__slider-prev">
              <use xlink:href="#arrow_left"></use>
            </svg>
            .swiper-scrollbar
            <svg class="cards-list__slider-next">
              <use xlink:href="#arrow_right"></use>
            </svg>
        .swiper-pagination.cards-list__swiper-pagination
        .swiper-wrapper
            .cards-list-item.swiper-slide

                .cards-list-item__slider
                    .swiper-pagination.cards-list-item__swiper-pagination
                    .swiper-wrapper
                        img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                        img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                        img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide

                .cards-list-item__add-fav.add-fav
                    <svg class="icon-fav">
                      <use xlink:href="#star"></use>
                    </svg>
                    span.add-fav__add В избранное
                    span.add-fav__rem Удалить

                .cards-list-item__content
                    a(href="javascript:void(0)").cards-list-item__name БЦ «К-2» | класс В+ БЦ «К-2» | класс В+
                    .cards-list-item__desc Помещение №114003, складское, этаж 4/7
                    .cards-list-item__row
                        .cards-list-item__col
                            .text-14-grey Площадь
                            .cards-list-item__param 270 м<sup>2</sup>
                        .cards-list-item__col
                            .text-14-grey Стоимость
                            .cards-list-item__param 36 323 ₽/мес.

                    .cards-list-item__address
                        .text-14-grey Адрес
                        .text пр. Обуховской Обороны, д. 86, лит. М, Невский р-н

                    .cards-list-item__metro
                        .text-14-grey Метро
                        .text Московские ворота, Обводный канал, Фрунзенская

            .cards-list-item.swiper-slide

                .cards-list-item__slider
                    .swiper-pagination.cards-list-item__swiper-pagination
                    .swiper-wrapper
                        img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                        img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                        img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide

                .cards-list-item__add-fav.add-fav
                    <svg class="icon-fav">
                      <use xlink:href="#star"></use>
                    </svg>
                    span.add-fav__add В избранное
                    span.add-fav__rem Удалить

                .cards-list-item__content
                    a(href="javascript:void(0)").cards-list-item__name БЦ «К-2» | класс В+
                    .cards-list-item__desc Помещение №114003, складское, этаж 4/7
                    .cards-list-item__row
                        .cards-list-item__col
                            .text-14-grey Площадь
                            .cards-list-item__param 270 м<sup>2</sup>
                        .cards-list-item__col
                            .text-14-grey Стоимость
                            .cards-list-item__param 36 323 ₽/мес.

                    .cards-list-item__address
                        .text-14-grey Адрес
                        .text пр. Обуховской Обороны, д. 86, лит. М, Невский р-н

                    .cards-list-item__metro
                        .text-14-grey Метро
                        .text Московские ворота, Обводный канал, Фрунзенская

            .cards-list-item.swiper-slide

                .cards-list-item__slider
                    .swiper-pagination.cards-list-item__swiper-pagination
                    .swiper-wrapper
                        img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                        img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                        img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide

                .cards-list-item__add-fav.add-fav
                    <svg class="icon-fav">
                      <use xlink:href="#star"></use>
                    </svg>
                    span.add-fav__add В избранное
                    span.add-fav__rem Удалить

                .cards-list-item__content
                    a(href="javascript:void(0)").cards-list-item__name БЦ «К-2» | класс В+
                    .cards-list-item__desc Помещение №114003, складское, этаж 4/7
                    .cards-list-item__row
                        .cards-list-item__col
                            .text-14-grey Площадь
                            .cards-list-item__param 270 м<sup>2</sup>
                        .cards-list-item__col
                            .text-14-grey Стоимость
                            .cards-list-item__param 36 323 ₽/мес.

                    .cards-list-item__address
                        .text-14-grey Адрес
                        .text пр. Обуховской Обороны, д. 86, лит. М, Невский р-н

                    .cards-list-item__metro
                        .text-14-grey Метро
                        .text Московские ворота, Обводный канал, Фрунзенская

            .cards-list-item.swiper-slide

                .cards-list-item__slider
                    .swiper-pagination.cards-list-item__swiper-pagination
                    .swiper-wrapper
                        img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                        img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                        img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide

                .cards-list-item__add-fav.add-fav
                    <svg class="icon-fav">
                      <use xlink:href="#star"></use>
                    </svg>
                    span.add-fav__add В избранное
                    span.add-fav__rem Удалить

                .cards-list-item__content
                    a(href="javascript:void(0)").cards-list-item__name БЦ «К-2» | класс В+
                    .cards-list-item__desc Помещение №114003, складское, этаж 4/7
                    .cards-list-item__row
                        .cards-list-item__col
                            .text-14-grey Площадь
                            .cards-list-item__param 270 м<sup>2</sup>
                        .cards-list-item__col
                            .text-14-grey Стоимость
                            .cards-list-item__param 36 323 ₽/мес.

                    .cards-list-item__address
                        .text-14-grey Адрес
                        .text пр. Обуховской Обороны, д. 86, лит. М, Невский р-н

                    .cards-list-item__metro
                        .text-14-grey Метро
                        .text Московские ворота, Обводный канал, Фрунзенская

