mixin form_room
    form.form-room
        span.form-room__title Добавить избранные помещения к заявке?
        p.form-room__text Все помещения будут добавлены в раздел «Добавлено к заявке»
        .form-room__row
            button.form-room__btn Добавить 666 помещений к заявке


    <!-- Когда добавили форма принимает такой вид -->
    form.form-room
        span.form-room__title Добавить избранные помещения к заявке?
        p.form-room__text Все помещения будут добавлены в раздел «Добавлено к заявке»
        .form-room__row
            button.form-room__btn._added 666 помещений добавлено к заявке
            button.form-room__btn Оформить заявку


mixin form_bc
    form.form-room
        span.form-room__title Посмотрите все помещения за один визит в бизнес-центр «К-1»
        p.form-room__text Все офисы будут добавлены в раздел «Добавлено к заявке»
        .form-room__row
            button.form-room__btn Добавить 666 помещений к заявке


    <!-- Когда добавили форма принимает такой вид -->
    form.form-room
        span.form-room__title Посмотрите все помещения за один визит в бизнес-центр «К-1»
        p.form-room__text Все офисы будут добавлены в раздел «Добавлено к заявке»
        .form-room__row
            button.form-room__btn._added 666 помещений добавлено к заявке
            button.form-room__btn Оформить заявку