section.rent
    .rent__title.page-title Прямая аренда на выгодных условиях

    .rent__row
        .rent__item
            .rent__item-title.text-title Входит в арендную плату
            ul.rent__item-list.list
                li Юридический адрес
                li НДС
                li Коммунальные услуги
                li Охрана помещений 24/7
                li Круглосуточное видеонаблюдение
                li Уборка помещений общего пользования
                li Почтовые ячейки
                li Услуги ресепшен по встрече гостей
                li Перепланировка помещений
                li Развозка от/до ст.м. Московские ворота

        .rent__item
            .rent__item-title.text-title Оплачивается отдельно
            ul.rent__item-list.list
                li Вывоз мусора
                li Интернет / Телефония
                li Парковка
                li Электроэнергия

        .rent__item
            .rent__item-title.text-title Особые условия
            p.rent__item-text.text Наши цены одни из самых низких в городе — 350 рублей за квадратный метр. В них включены: коммунальные услуги, ежедневная уборка, быстрый интернет, грузоподъемники, грузовые лифты и другие услуги.

            .rent__item-docs
                a(href='').rent__item-doc Договор аренды (бизнес-центр «К-1»).doc
                a(href='').rent__item-doc Договор аренды (бизнес-центр «К-2»).doc
                a(href='').rent__item-doc Договор аренды (бизнес-центр «К-3»).doc
            
            .rent__item-text.text Отдел аренды компании «Квартал»
            a.rent__item-tel.text-title(href='tel:88127401902') 8 (812) 740-19-02