.main {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	padding-top: 16px;
	padding-bottom: 16px;

	min-height: calc(100vh - 88px - 139px); // минус шапка и минус футер

	margin-top: 88px;
}

.main, 
.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	padding-left: 30px;
	padding-right: 64px;

	margin-left: 490px;
}


.footer {
	margin-top: 100px;
	padding-bottom: 16px;

	-webkit-box-align: start;

	    -ms-flex-align: start;

	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	span, p,
	a {
		font-family: 'Roboto';
		font-size: 14px;
		font-weight: 300;
		line-height: 1.71;
		text-align: left;
		color: var(--dark);

		opacity: .7;

		-webkit-transition: .2s ease-out;

		transition: .2s ease-out;
	}


	a {

		&:hover {
			opacity: 1;
			text-decoration: underline;
			color: var(--royal_blue);
		}
	}
}


@media only screen and (max-width: 1366px){

	.main, 
	.footer {
		padding-left: 24px;
		padding-right: 35px;
	
		margin-left: 340px;
	}
}


@media only screen and (max-width: 1280px){

	.main, 
	.footer {
		margin-left: 316px;
	}
}


@media only screen and (max-width: 1024px){

	.main, 
	.footer {
		padding-left: 16px;
		padding-right: 16px;
	
		margin-left: 252px;
	}
}


@media only screen and (max-width: 768px){

	.main, 
	.footer {
		padding-left: 16px;
		padding-right: 16px;
	
		margin-left: 0px;
	}

	.main {
		margin-top: 0px;
		min-height: calc(100vh - 88px - 139px - 45px); // добавил 45 для фильтра
	}
}


@media only screen and (max-width: 640px){

	.footer {

		-webkit-box-orient: vertical;

		-webkit-box-direction: normal;

		    -ms-flex-direction: column;

		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;

		span {
			margin-bottom: 24px;
		}

		a:not(:last-child) {
			margin-bottom: 24px;
		}

	}


	.main {
		min-height: calc(100vh - 88px - 233px - 45px);
	}

}