
<!-- Список бизнес-центров -->
include contacts_bc.pug

<!-- Карты -->
include contacts_map.pug

<!-- Задать вопрос -->
include contacts_form.pug


section.contacts-footer
    p.contacts-footer__text.text-18-dark Общество с ограниченной ответственностью «Управляющая Компания»
    p.contacts-footer__text.text-18-dark 196084, г. Санкт-Петербург, улица Ново-Рыбинская, дом 19-21
    p.contacts-footer__text.text-18-dark ОГРН 1117847590002
    p.contacts-footer__text.text-18-dark ИНН 7810852126/КПП 781001001
    p.contacts-footer__text.text-18-dark Расчетный счёт 40702810500000004994 в ОАО \»АБ\» Россия \» г. Санкт-Петербург.
    p.contacts-footer__text.text-18-dark к/с 30101810800000000861, БИК 044030861
    p.contacts-footer__text.text-18-dark тел./факс 740-18-94