section.contacts-bc
    .contacts-bc__title.page-title Контактная информация

    .contacts-bc__list
        .contacts-bc-item
            .contacts-bc-item__name.text-title БЦ «К-1», класс В+

            .contacts-bc-item__address.text-18-grey Ново-Рыбинская 19-21, Московский р-н
            a(href="tel: 78127401902").contacts-bc-item__tel.text-18-dark +7 812 740 19 02
            a(href="tel: 79119201959").contacts-bc-item__tel.text-18-dark +7 911 920 19 59

            .contacts-bc-item__fio.text-18-dark Ткачевский Виктор Васильевич
            a(href="mailto: viktor@kvartal.biz").contacts-bc-item__email.text-18-dark viktor@kvartal.biz
            .contacts-bc-item__wh.text-18-grey Пн-Пт: 10:00–18:00, Сб-Вс — выходной


        .contacts-bc-item
            .contacts-bc-item__name.text-title БЦ «К-2», класс В

            .contacts-bc-item__address.text-18-grey Обуховской Обороны 86, лит. М, Невский р-н
            a(href="tel: 78124545754").contacts-bc-item__tel.text-18-dark +7 812 454-57-54
            a(href="tel: 79119201959").contacts-bc-item__tel.text-18-dark +7 911 920 19 59

            .contacts-bc-item__fio.text-18-dark Жуков Андрей Юрьевич
            a(href="mailto: viktor@kvartal.biz").contacts-bc-item__email.text-18-dark viktor@kvartal.biz
            .contacts-bc-item__wh.text-18-grey Пн-Пт: 10:00–18:00, Сб-Вс — выходной


        .contacts-bc-item
            .contacts-bc-item__name.text-title БЦ «К-3», класс В, С

            .contacts-bc-item__address.text-18-grey Арсенальная 78, Калининский р-н
            a(href="tel: 78127401902").contacts-bc-item__tel.text-18-dark +7 812 740 19 02
            a(href="tel: 79119201959").contacts-bc-item__tel.text-18-dark +7 911 920 19 59

            .contacts-bc-item__fio.text-18-dark Сумерин Анатолий Николаевич
            a(href="mailto: viktor@kvartal.biz").contacts-bc-item__email.text-18-dark viktor@kvartal.biz
            .contacts-bc-item__wh.text-18-grey Пн-Пт: 10:00–18:00, Сб-Вс — выходной


        .contacts-bc-item
            .contacts-bc-item__name.text-title Генеральный директор

            a(href="tel: 78127401894").contacts-bc-item__tel.text-18-dark +7 812 740 18 94

            .contacts-bc-item__fio.text-18-dark Савченко Владислав Владимирович
            a(href="mailto: office@kvartal.biz").contacts-bc-item__email.text-18-dark office@kvartal.biz
            .contacts-bc-item__wh.text-18-grey Пн-Пт: 10:00–18:00, Сб-Вс — выходной


        .contacts-bc-item
            .contacts-bc-item__name.text-title Отдел аренды

            a(href="tel: 79219350936").contacts-bc-item__tel.text-18-dark +7 921 935 09 36

            .contacts-bc-item__fio.text-18-dark Феофилов Алексей Игоревич
            a(href="mailto: feofilov@kvartal.biz").contacts-bc-item__email.text-18-dark feofilov@kvartal.biz
            .contacts-bc-item__wh.text-18-grey Пн-Пт: 10:00–18:00, Сб-Вс — выходной


        .contacts-bc-item
            .contacts-bc-item__name.text-title Бухгалтерия

            a(href="tel: 78123371383").contacts-bc-item__tel.text-18-dark +7 812 337 13 83

            .contacts-bc-item__wh.text-18-grey Пн-Пт: 10:00–18:00, Сб-Вс — выходной