section.home-bc
    .home-bc__title.page-title Коммерческая недвижимость от собственника в Санкт-Петербурге

    .home-bc__container

        .home-bc-item
            .home-bc-item__name Бизнес-центр «К-1»
            span.home-bc-item__class Класс В+

            img(src="./img/bc/bc_1.jpg", alt="").home-bc-item__img

            p.home-bc-item__address.text-18-dark Ново-Рыбинская 19/21, Московский р-н
            ul.home-bc-item__metro
                li.home-bc-item__metro-item.icon-metro__blue Московские Ворота, Фрунзенская
                li.home-bc-item__metro-item.icon-metro__violet Обводный Канал

            a(href="tel: 88127401902").home-bc-item__tel.text-18-dark 8 (812) 740-19-02
            p.home-bc-item__places Количество свободных помещений от 70 м² до 797 м²

            ul.home-bc-item__bills
                li.home-bc-item-bill
                    .home-bc-item-bill__name Офисы
                    .home-bc-item-bill__param от 450 руб/м²
                    .home-bc-item-bill__amount(all='64' ) 23

                li.home-bc-item-bill
                    .home-bc-item-bill__name Склады
                    .home-bc-item-bill__param от 1 050 руб/м²
                    .home-bc-item-bill__amount(all='64' ) 10

                li.home-bc-item-bill
                    .home-bc-item-bill__name Производство
                    .home-bc-item-bill__param от 950 руб/м²
                    .home-bc-item-bill__amount(all='20' ) 2

                li.home-bc-item-bill
                    .home-bc-item-bill__name Торговые
                    .home-bc-item-bill__param от 1 500 руб/м²
                    .home-bc-item-bill__amount(all='47' ) 30

                li.home-bc-item-bill
                    .home-bc-item-bill__name Свободного назначения
                    .home-bc-item-bill__param от 450 руб/м²
                    .home-bc-item-bill__amount(all='26' ) 12

            a(href="").home-bc-item__btn Смотреть планировки помещений



        .home-bc-item
            .home-bc-item__name Бизнес-центр «К-2»
            span.home-bc-item__class Класс В+

            img(src="./img/bc/bc_2.jpg", alt="").home-bc-item__img

            p.home-bc-item__address.text-18-dark Обуховской Обороны 86, лит. М, Невский р-н
            ul.home-bc-item__metro
                li.home-bc-item__metro-item.icon-metro__green Елизаровская, Ломоносовская

            a(href="tel: 88124545754").home-bc-item__tel.text-18-dark 8 (812) 454-57-54
            p.home-bc-item__places Количество свободных помещений от 70 м² до 797 м²

            ul.home-bc-item__bills
                li.home-bc-item-bill
                    .home-bc-item-bill__name Офисы
                    .home-bc-item-bill__param от 450 руб/м²
                    .home-bc-item-bill__amount(all='55' ) 10

                li.home-bc-item-bill
                    .home-bc-item-bill__name Склады
                    .home-bc-item-bill__param от 1 050 руб/м²
                    .home-bc-item-bill__amount(all='78' ) 23

                li.home-bc-item-bill
                    .home-bc-item-bill__name Производство
                    .home-bc-item-bill__param от 950 руб/м²
                    .home-bc-item-bill__amount(all='33' ) 22

                li.home-bc-item-bill
                    .home-bc-item-bill__name Торговые
                    .home-bc-item-bill__param от 1 500 руб/м²
                    .home-bc-item-bill__amount(all='33' ) 3

                li.home-bc-item-bill
                    .home-bc-item-bill__name Свободного назначения
                    .home-bc-item-bill__param от 450 руб/м²
                    .home-bc-item-bill__amount(all='26' ) 12

            a(href="").home-bc-item__btn Смотреть планировки помещений


        .home-bc-item
            .home-bc-item__name Бизнес-центр «К-3»
            span.home-bc-item__class Класс В, C

            img(src="./img/bc/bc_3.jpg", alt="").home-bc-item__img

            p.home-bc-item__address.text-18-dark Арсенальная 78, Калининский р-н
            ul.home-bc-item__metro
                li.home-bc-item__metro-item.icon-metro__red Лесная, Площадь Ленина

            a(href="tel: 88125424820").home-bc-item__tel.text-18-dark 8 (812) 542-48-20
            p.home-bc-item__places Количество свободных помещений от 70 м² до 797 м²

            ul.home-bc-item__bills
                li.home-bc-item-bill
                    .home-bc-item-bill__name Офисы
                    .home-bc-item-bill__param от 450 руб/м²
                    .home-bc-item-bill__amount(all='26' ) 13

                li.home-bc-item-bill
                    .home-bc-item-bill__name Склады
                    .home-bc-item-bill__param от 1 050 руб/м²
                    .home-bc-item-bill__amount(all='50' ) 4

                li.home-bc-item-bill
                    .home-bc-item-bill__name Производство
                    .home-bc-item-bill__param от 950 руб/м²
                    .home-bc-item-bill__amount(all='26' ) 10

                li.home-bc-item-bill
                    .home-bc-item-bill__name Холодильные склады
                    .home-bc-item-bill__param от 1 500 руб/м²
                    .home-bc-item-bill__amount(all='82' ) 25

            a(href="").home-bc-item__btn Смотреть планировки помещений

<!-- [ 1 ]  Метро группируются по линии (в примере ниже Моск. ворота и Фрунзенская принадлежат синей ветке, выводятся через запятую в одном теге с классом 'home-bc-item__metro-item'). Для управления цветом к тегу с классом .home-bc-item__metro-item добавляются классы: Красная - icon-metro__red; Синяя - icon-metro__blue; Зеленая - icon-metro__green; Фиолетовая - icon-metro__violet;Оранжевая - icon-metro__orange; Коричневая - icon-metro__brown; Серая - icon-metro__grey; -->

<!-- [ 2 ]  Для количества свободных помещений. Необходимо в тег с классом ".home-bc-item-bill__amount" выводить в аттрибут "all" общее количество помещений, чтобы регулировать заполненность цветной плашки для свободных помещений (сейчас там рандомные цифры, чтобы ты наглядно посмотрел чокаво). После подгрузки кол-ва свободных помещений, js подсчитывает какие ширину и цвет задать этой плашечке -->