<!-- Главный разворот с карточками бизнес-центров -->
include home_bc.pug


<!-- Слайдер с помещениями -->
include ../../components/cards_list.pug


<!-- Программа лояльности -->
include home_bullets.pug


<!-- Все для развития бизнеса под одной крышей -->
include home_info.pug


<!-- Синяя проклятая форма -->
include ../../components/form_gg.pug