section.home-info
    .home-info__title.page-title Все для развития бизнеса под одной крышей

    .home-info-bullets
        .home-info-bullets__item
            .home-info-bullets__item-title.text-title Четыре типа коммерческих площадей
            ul.home-info-bullets__item-list.list
                li торговые;
                li офисные;
                li складские (в т.ч. холодильные);
                li производственные.

        .home-info-bullets__item
            .home-info-bullets__item-title.text-title Стоимость аренды от собственника
            ul.home-info-bullets__item-list.list
                li торговые — от 770 руб./м²;
                li офисные — от 700 руб./м²;
                li производственные — от 400 руб./м²;
                li складские — от 350 руб./м².

        .home-info-bullets__item
            .home-info-bullets__item-title.text-title Что включает в себя договор аренды
            ul.home-info-bullets__item-list.list
                li круглосуточную охрану;
                li уборку мест общественного пользования;
                li энергосберегающее оборудование;
                li вместительную парковку.


    .home-info__container
        .home-info__sub-title.text-title Стоимость конкретного помещения и другие вопросы можно уточнить по телефону <a href='tel: 88127401900'>8 (812) 740-19-00</a> 
        .home-info__sub-title.text-title Как сэкономить на аренде коммерческой недвижимости?

        p.home-info__text.text-18-dark На рынке коммерческой недвижимости Санкт-Петербурга вы найдёте самые различные предложения. Они объединены общим недостатком — сдаются через сеть посредников или агентства, что отражается на стоимости квадратного метра. Избежать этого можно обратившись к нам — все помещения компании «Квартал» находятся собственности.
        p.home-info__text.text-18-dark Прямая аренда коммерческих площадей от собственника имеет ряд неоспоримых преимуществ:

        ul.home-info__list.list
            li гарантированно низкая стоимость;
            li выгодные условия сотрудничества;
            li высокая степень ответственности собственника.


        .home-info__sub-title.text-title Характеристики коммерческих площадей бизнес-центрах «Квартал»

        p.home-info__text.text-18-dark Помещения под офис находятся в одном из крупнейших бизнес-центров, имеют удобную планировку, видовые окна, хорошую звукоизоляцию и прочие достоинства, обеспечивающие успешную работу.
        p.home-info__text.text-18-dark Здания оснащены надежной системой лифтов и грузоподъёмников, имеют приятный интерьер, светлые и просторные помещения. В помещениях сделан качественный ремонт с использованием высококлассных современных материалов.
        p.home-info__text.text-18-dark Также мы предлагаем недвижимость под производство и складирование. Холодильные помещения отлично сконструированы и оборудованы по современным стандартам, мы предоставляем весь комплекс услуг по хранению и транспортировке продукции.
