mixin home_bullets_item(title, text)
    li.home-bullets__item
        .home-bullets__item-title.text-title= title
        p.home-bullets__item-text.text-14-grey= text

section.home-bullets
    .home-bullets__title.page-title Программы лояльности для резидентов

    ul.home-bullets__list
        +home_bullets_item('Переезд в подарок!', '«Квартал» предлагает недвижимость высокого класса в Московском районе Санкт-Петербурга. Прямая аренда от собственника включает в себя офисные, складские, производственные и торговые помещения под одной крышей')
        +home_bullets_item('Скидка 10% на автомойку', '«Квартал» предлагает недвижимость высокого класса в Московском районе Санкт-Петербурга. Прямая аренда от собственника включает в себя офисные, складские, производственные и торговые помещения под одной крышей')
        +home_bullets_item('Производство + Склад всего от 500 руб/м²', '«Квартал» предлагает недвижимость высокого класса в Московском районе Санкт-Петербурга. Прямая аренда от собственника включает в себя офисные, складские, производственные и торговые помещения под одной крышей')