<!-- Тут буду поочередно подрубать странички -->
main.main

	<!-- Хлебные крошки -->
	include crumbs.pug

	//- <!-- стр. "Главная" -->
	//- include ../home/home.pug

	<!-- стр. "Результат поиска" -->
	include ../search/search.pug

	//- <!-- стр. "Отзывы" -->
	//- include ../reviews/reviews.pug

	//- <!-- стр. "404" -->
	//- include ../404/404.pug

	//- <!-- стр. "О Компании" -->
	//- include ../about/about.pug

	//- <!-- стр. "Контакты" -->
	//- include ../contacts/contacts.pug

	//- <!-- стр. "Блог" -->
	//- include ../blog/blog.pug



	//- include ../../components/form_gg.pug
	//- include ../../components/cards_list.pug
	//- include ../../components/rent.pug









footer.footer
	span © ЗАО &laquo;Квартал&raquo;. Все права защищены.
	a(href="" target='_blank' title='Политика конфиденциальности') Политика конфиденциальности
	a(href='http://instagram.com/midyanets' target='_blank' title='instagram.com/midyanets') © Midyanets, 2019

