<!-- Тут буду поочередно подрубать странички -->
main.main

	<!-- Хлебные крошки -->
	include crumbs.pug





footer.footer
	span © ЗАО &laquo;Квартал&raquo;. Все права защищены.
	a(href="" target='_blank' title='Политика конфиденциальности') Политика конфиденциальности
	a(href='http://instagram.com/midyanets' target='_blank' title='instagram.com/midyanets') © Midyanets, 2019

