<!-- Тут буду поочередно подрубать странички -->
main.main

	<!-- Хлебные крошки -->
	include crumbs.pug

	//- <!-- стр. "Главная" -->
	//- include ../home/home.pug

	<!-- стр. "Объект" -->
	include ../object/object.pug

	//- <!-- стр. "Помещение" -->
	//- include ../object_room/object_room.pug

	//- <!-- стр. "Результат поиска" -->
	//- include ../search/search.pug


	//- <!-- стр. "Добавлено в избранное" - 'ПЛИТКОЙ', 'По Помещениям' -->
	//- include ../fav/fav_room_table.pug

	//- <!-- стр. "Добавлено в избранное" - 'СПИСКОМ', 'По Помещениям' -->
	//- include ../fav/fav_room_list.pug


	//- <!-- стр. "Добавлено в избранное" - 'ПЛИТКОЙ', 'По бизнес-центрам' -->
	//- include ../fav/fav_bc_table.pug

	//- <!-- стр. "Добавлено в избранное" - 'СПИСКОМ', 'По бизнес-центрам' -->
	//- include ../fav/fav_bc_list.pug



	//- <!-- стр. "Добавлено к заявке" -->
	//- include ../order/order.pug


	//- <!-- стр. "Удалили из избранного/заявки". !!! Не забыть накинуть класс '_current' для пункта меню 'li.side-nav__item' если это избранное / в заявке -->
	//- include ../fav_empty/fav_empty.pug

	//- <!-- стр. "Отзывы" -->
	//- include ../reviews/reviews.pug

	//- <!-- стр. "404" -->
	//- include ../404/404.pug

	//- <!-- стр. "Сервисы" -->
	//- include ../service/service.pug

	//- <!-- стр. "О Компании" -->
	//- include ../about/about.pug

	//- <!-- стр. "Контакты" -->
	//- include ../contacts/contacts.pug

	//- <!-- стр. "Блоги" -->
	//- include ../blogs/blogs.pug

	//- <!-- стр. "Блог" -->
	//- include ../blog/blog.pug


footer.footer
	span © ЗАО &laquo;Квартал&raquo;. Все права защищены.
	a(href="" target='_blank' title='Политика конфиденциальности') Политика конфиденциальности
	a(href='http://instagram.com/midyanets' target='_blank' title='instagram.com/midyanets') © Midyanets, 2019

