.search {
    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    padding-top: 18px;
    margin-bottom: 80px;


    h1 {
        .page-title;
        margin-bottom: 250px;
        max-width: 882px;
    }
    

    &__sort {
        margin-bottom: 110px;
    }
}


.search-result {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    margin-bottom: 64px;

    &__header {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        margin-bottom: 32px;
    }


    &__title {
        color: var(--brownish_grey);
    }


    &__output-ctrls {
        margin-left: auto;
    }
}


.search-result__bc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;


    &-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        margin-bottom: 8px;
    }


    &-name {
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 300;
        line-height: 1.43;
        text-align: left;
        color: var(--dark);

        margin-right: 8px;
    }


    &-class {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 2;
        text-align: left;
        color: var(--brownish_grey);
    }


    &-address {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.43;
        text-align: left;
        color: var(--dark);
    }
}




@media only screen and (max-width: 1366px){

    .search h1 {
        font-size: 35px;
        margin-bottom: 140px;
    }


    .search-result__bc {


        &-name {
            font-size: 22px;
        }
        &-class {
            font-size: 14px;
        }
        &-address {
            font-size: 12px;
        }
    }


}



@media only screen and (max-width: 1024px){

    .search h1 {
        margin-bottom: 110px;
    }

    .search-result__header {
        margin-bottom: 24px;
    }

    .search__sort {
        margin-bottom: 80px;
    }
}



@media only screen and (max-width: 768px){

    .search__sort {
        margin-bottom: 64px;
    }

    
    .search h1 {
        margin-bottom: 80px;
    }
}


@media only screen and (max-width: 640px){

    
    .search h1 {
        margin-bottom: 64px;
    }

    .search-result__header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 16px;
    }

    .search-result__title {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .search-result__bc {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        -ms-flex-item-align: start;
            align-self: flex-start;
    }

    .search-result__output-ctrls {
        margin-bottom: 16px;
    }
}