<!-- Из избранного -->
section.fav-empty
    h1 Вы удалили 12 помещений из избранного

    .fav-empty__sort.sort
        span.sort__title В избранном ничего нет
        .sort__list
            a(href="javascript:void(0)").sort__btn._last Восстановить избранное


<!-- Из заявок -->
section.fav-empty
    h1 Вы удалили 12 помещений из заявок

    .fav-empty__sort.sort
        span.sort__title В заявках ничего нет
        .sort__list
            a(href="javascript:void(0)").sort__btn._last Восстановить заявки