section.service-net
    h2 Нетворкинг в «Квартале»
    .service-net__col
        .dd-faq._show
            p.dd-faq__header Что такое нетворкинг и зачем он нужнен?
            .dd-faq__content
                p.dd-faq__text Нетворкинг (англицизм от networking – букв. плетение сети: net – сеть + work – работать, полезные связи) — это социальная и профессиональная деятельность, направленная на то, чтобы с помощью круга друзей и знакомых максимально быстро и эффективно решать сложные жизненные задачи и бизнес-вопросы (пример: находить клиентов, нанимать лучших сотрудников, привлекать инвесторов). При этом, в сути нетворкинга лежит выстраивание доверительных и долгосрочных отношений с людьми и взаимопомощь.
        .dd-faq
            p.dd-faq__header Условия нетворкинга
            .dd-faq__content
                p.dd-faq__text Нетворкинг (англицизм от networking – букв. плетение сети: net – сеть + work – работать, полезные связи) — это социальная и профессиональная деятельность, направленная на то, чтобы с помощью круга друзей и знакомых максимально быстро и эффективно решать сложные жизненные задачи и бизнес-вопросы (пример: находить клиентов, нанимать лучших сотрудников, привлекать инвесторов). При этом, в сути нетворкинга лежит выстраивание доверительных и долгосрочных отношений с людьми и взаимопомощь.
        .dd-faq
            p.dd-faq__header Как стать участником нетворкинга
            .dd-faq__content
                p.dd-faq__text Нетворкинг (англицизм от networking – букв. плетение сети: net – сеть + work – работать, полезные связи) — это социальная и профессиональная деятельность, направленная на то, чтобы с помощью круга друзей и знакомых максимально быстро и эффективно решать сложные жизненные задачи и бизнес-вопросы (пример: находить клиентов, нанимать лучших сотрудников, привлекать инвесторов). При этом, в сути нетворкинга лежит выстраивание доверительных и долгосрочных отношений с людьми и взаимопомощь.