section.service
    h1 Сервисы для резидентов и гостей бизнес-центров «Квартал»


<!-- Веб-камеры для каждого бизнес центра ( с перезагрузкой стр., судя по всему) -->
include service_cam.pug


<!-- Расписание развозки -->
include service_way.pug


<!-- Нетворкинг -->
include service_net.pug


<!-- Members -->
include service_member.pug