section.service-member
    span.service-member__title.text-title Знакомьтесь с участниками, общайтесь, взаимодействуйте!
    .service-member__container
        .service-member-item
            span.service-member-item__title Официальный диллер Yamaha
            img(src="./img/service/shadow.jpg", alt="").service-member-item__img

            span.service-member-item__sub-title.text-14-grey Описание
            p.service-member-item__text.text-14-dark Единственный в Санкт-Петербурге официальный дилер Yamaha, обладающий статусом YCB (Yamaha Center B). Мы поставляем всю доступную в России гамму техники, запчастей и аксессуаров Yamaha на наиболее выгодных условиях.

            span.service-member-item__sub-title.text-14-grey Как найти
            p.service-member-item__text.text-14-dark БЦ «К-1», Ново-Рыбинская 19/21, 1-й этаж, офис 306

            span.service-member-item__sub-title.text-14-grey Телефон
            a(href="tel:").service-member-item__text-link.text-14-dark 8 (812) 740 19 02


        .service-member-item
            span.service-member-item__title Радиоуправляемые модели, моделизм, аксессуары и оборудование
            img(src="./img/service/shadow_2.jpg", alt="").service-member-item__img

            span.service-member-item__sub-title.text-14-grey Описание
            p.service-member-item__text.text-14-dark «Планета Хобби.ру» поможет Вам открыть мир современных радиоуправляемых моделей. Здесь вы найдете для себя новое, популярное во всем мире увлечение или отличный подарок для своих детей, друзей и близких.

            span.service-member-item__sub-title.text-14-grey Как найти
            p.service-member-item__text.text-14-dark БЦ «К-1», Ново-Рыбинская 19/21, 1-й этаж, офис 306

            span.service-member-item__sub-title.text-14-grey Телефон
            a(href="tel:").service-member-item__text-link.text-14-dark 8 (812) 740 19 02


        .service-member-item
            span.service-member-item__title Fitness 24 – здоровье, успех и красота
            img(src="./img/service/shadow_3.jpg", alt="").service-member-item__img

            span.service-member-item__sub-title.text-14-grey Описание
            p.service-member-item__text.text-14-dark Fitness 24 – сеть фитнес-клубов, ставящих в приоритете современные, инновационные методы работы в фитнес-индустрии. Двери Fitness 24 всегда открыты желающих постоянно пребывать в хорошей физической форме.

            span.service-member-item__sub-title.text-14-grey Как найти
            p.service-member-item__text.text-14-dark БЦ «К-1», Ново-Рыбинская 19/21, 1-й этаж, офис 306

            span.service-member-item__sub-title.text-14-grey Телефон
            a(href="tel:").service-member-item__text-link.text-14-dark 8 (812) 740 19 02