.search-result
    .search-result__header
        .search-result__bc
            .search-result__bc-row
                h4.search-result__bc-name Бизнес-центр «К-1»
                span.search-result__bc-class Класс В+
            p.search-result__bc-address Ново-Рыбинская 19/21, Московский р-н

        .search-result__output-ctrls.output-ctrls
            <!-- Для текущего варианта выгрузки карточек добавляем класс '._current' для тега с классом '.search-result__ctrl'. -->
            a(href="javascript:void(0)").search-result__ctrl.output-ctrl
                <svg>
                    <use xlink:href="#view_plitka"></use>
                </svg>
                span Плиткой
            a(href="javascript:void(0)").search-result__ctrl.output-ctrl._current
                <svg>
                    <use xlink:href="#view_list"></use>
                </svg>
                span Списком

    
    .search-result-list
        .search-result-list__head
            .search-result-list__head-item(search-col='room') Помещение
            a(href="javascript:void(0)" search-col='square').search-result-list__head-item._sort._current Площадь
            a(href="javascript:void(0)" search-col='price').search-result-list__head-item._sort Стоимость

        .search-result-list__body

            .list-card
                .list-card-content(search-col='room')
                    .list-card__slider
                        a(href="javascript:void(0)").list-card__add-fav.add-fav._added
                            <svg class="icon-fav">
                              <use xlink:href="#star"></use>
                            </svg>
                            span.add-fav__add В избранное
                            span.add-fav__rem Удалить
                        .swiper-pagination.list-card__swiper-pagination
                        .swiper-wrapper
                            img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                            img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                            img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide              
                    .list-card-content__col
                        a(href="javascript:void(0)").list-card__name Помещение №114003, этаж 4/7
                        span.list-card__bc БЦ «К-1» | класс В+
                        span.list-card__address пр. Обуховской Обороны, д. 86, лит. М, Невский р-н
                        ul.list-card__metro
                            li.list-card__metro-item.icon-metro__blue Московские Ворота, Фрунзенская


                span.list-card__sqr(search-col='square') 70 м²
                .list-card__price(search-col='price')
                    span.list-card__price-month 2 236 323 ₽/мес.
                    span.list-card__price-sqr 450 ₽/м²

                a(href="javascript:void(0)").list-card__add-to-order + Добавить к заявке


            .list-card
                .list-card-content(search-col='room')
                    .list-card__slider
                        a(href="javascript:void(0)").list-card__add-fav.add-fav._added
                            <svg class="icon-fav">
                              <use xlink:href="#star"></use>
                            </svg>
                            span.add-fav__add В избранное
                            span.add-fav__rem Удалить
                        .swiper-pagination.list-card__swiper-pagination
                        .swiper-wrapper
                            img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                            img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                            img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide              
                    .list-card-content__col
                        a(href="javascript:void(0)").list-card__name Помещение №118003, этаж 3/7
                        span.list-card__bc БЦ «К-2» | класс В+
                        span.list-card__address пр. Обуховской Обороны, д. 86, лит. М, Невский р-н
                        ul.list-card__metro
                            li.list-card__metro-item.icon-metro__blue Московские Ворота


                span.list-card__sqr(search-col='square') 70 м²
                .list-card__price(search-col='price')
                    span.list-card__price-month 1 236 323 ₽/мес.
                    span.list-card__price-sqr 350 ₽/м²

                a(href="javascript:void(0)").list-card__add-to-order + Добавить к заявке


<!-- Форма "добавить избранные помещения к заявке -->
include ../../components/form_room.pug
+form_bc



.search-result
    .search-result__header
        .search-result__bc
            .search-result__bc-row
                h4.search-result__bc-name Бизнес-центр «К-2»
                span.search-result__bc-class Класс В+
            p.search-result__bc-address Ново-Рыбинская 19/21, Московский р-н
    
    .search-result-list
        .search-result-list__head
            .search-result-list__head-item(search-col='room') Помещение
            a(href="javascript:void(0)" search-col='square').search-result-list__head-item._sort._current Площадь
            a(href="javascript:void(0)" search-col='price').search-result-list__head-item._sort Стоимость

        .search-result-list__body

            .list-card
                .list-card-content(search-col='room')
                    .list-card__slider
                        a(href="javascript:void(0)").list-card__add-fav.add-fav._added
                            <svg class="icon-fav">
                              <use xlink:href="#star"></use>
                            </svg>
                            span.add-fav__add В избранное
                            span.add-fav__rem Удалить
                        .swiper-pagination.list-card__swiper-pagination
                        .swiper-wrapper
                            img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                            img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                            img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide              
                    .list-card-content__col
                        a(href="javascript:void(0)").list-card__name Склад №114003, этаж 4/7
                        span.list-card__bc БЦ «К-1» | класс В+
                        span.list-card__address пр. Обуховской Обороны, д. 86, лит. М, Невский р-н
                        ul.list-card__metro
                            li.list-card__metro-item.icon-metro__blue Московские Ворота, Фрунзенская


                span.list-card__sqr(search-col='square') 70 м²
                .list-card__price(search-col='price')
                    span.list-card__price-month 2 236 323 ₽/мес.
                    span.list-card__price-sqr 450 ₽/м²

                a(href="javascript:void(0)").list-card__add-to-order + Добавить к заявке


<!-- Форма "добавить избранные помещения к заявке -->
include ../../components/form_room.pug
+form_bc



.search-result
    .search-result__header
        .search-result__bc
            .search-result__bc-row
                h4.search-result__bc-name Бизнес-центр «К-3»
                span.search-result__bc-class Класс В+
            p.search-result__bc-address Ново-Рыбинская 19/21, Московский р-н

    
    .search-result-list
        .search-result-list__head
            .search-result-list__head-item(search-col='room') Помещение
            a(href="javascript:void(0)" search-col='square').search-result-list__head-item._sort._current Площадь
            a(href="javascript:void(0)" search-col='price').search-result-list__head-item._sort Стоимость

        .search-result-list__body

            .list-card
                .list-card-content(search-col='room')
                    .list-card__slider
                        a(href="javascript:void(0)").list-card__add-fav.add-fav._added
                            <svg class="icon-fav">
                              <use xlink:href="#star"></use>
                            </svg>
                            span.add-fav__add В избранное
                            span.add-fav__rem Удалить
                        .swiper-pagination.list-card__swiper-pagination
                        .swiper-wrapper
                            img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                            img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                            img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide              
                    .list-card-content__col
                        a(href="javascript:void(0)").list-card__name Торговое №114003, этаж 4/7
                        span.list-card__bc БЦ «К-1» | класс В+
                        span.list-card__address пр. Обуховской Обороны, д. 86, лит. М, Невский р-н
                        ul.list-card__metro
                            li.list-card__metro-item.icon-metro__blue Московские Ворота, Фрунзенская


                span.list-card__sqr(search-col='square') 70 м²
                .list-card__price(search-col='price')
                    span.list-card__price-month 2 236 323 ₽/мес.
                    span.list-card__price-sqr 450 ₽/м²

                a(href="javascript:void(0)").list-card__add-to-order + Добавить к заявке


            .list-card
                .list-card-content(search-col='room')
                    .list-card__slider
                        a(href="javascript:void(0)").list-card__add-fav.add-fav._added
                            <svg class="icon-fav">
                              <use xlink:href="#star"></use>
                            </svg>
                            span.add-fav__add В избранное
                            span.add-fav__rem Удалить
                        .swiper-pagination.list-card__swiper-pagination
                        .swiper-wrapper
                            img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                            img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide
                            img(src="./img/cards_list_example_img.jpg", alt="").swiper-slide              
                    .list-card-content__col
                        a(href="javascript:void(0)").list-card__name Торговое №118003, этаж 3/7
                        span.list-card__bc БЦ «К-2» | класс В+
                        span.list-card__address пр. Обуховской Обороны, д. 86, лит. М, Невский р-н
                        ul.list-card__metro
                            li.list-card__metro-item.icon-metro__blue Московские Ворота


                span.list-card__sqr(search-col='square') 70 м²
                .list-card__price(search-col='price')
                    span.list-card__price-month 1 236 323 ₽/мес.
                    span.list-card__price-sqr 350 ₽/м²

                a(href="javascript:void(0)").list-card__add-to-order + Добавить к заявке


<!-- Форма "добавить избранные помещения к заявке -->
include ../../components/form_room.pug
+form_bc
