meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="author" content="Nick G.")

title Kvartal

meta(name="description" content="")

meta(name='keywords' content='')

//- link(rel='canonical' href='/')
//- link(rel="icon" type="image/png" href="favicon.png")

link(rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet")
link(rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css")
link(rel="stylesheet" type="text/css" href="css/swiper.5.min.css")

<!-- Подключение общих для всех страниц стилей -->
link(rel="stylesheet" type="text/css" href="css/style.css")

<!-- Стили для стр. "Объект" -->
link(rel="stylesheet" type="text/css" href="css/object.css")