
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="author" content="Nick G.")

title Kvartal

meta(name="description" content="")

meta(name='keywords' content='')

//- link(rel='canonical' href='/')
//- link(rel="icon" type="image/png" href="favicon.png")

link(rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet")
link(rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css")
link(rel="stylesheet" type="text/css" href="css/swiper.5.min.css")


//- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")


//- link(rel="stylesheet" type="text/css" href="css/style.css?v=1")

<!-- Подключение общих для всех страниц стилей -->
link(rel="stylesheet" type="text/css" href="css/style.css")

<!-- Стили для стр. "Главная" -->
//- link(rel="stylesheet" type="text/css" href="css/home.css")