section.object-promo
    a(href="javascript:void(0)").object-promo__add-fav.add-fav
        <svg class="icon-fav">
            <use xlink:href="#star"></use>
        </svg>
        span.add-fav__add В избранное
        span.add-fav__rem Удалить
    h1 Прямая аренда: офис 1 450 м2 за 1 999 990 рублей в месяц
    span.object-promo__class.text-title Бизнес-центр «К-1», класс В+

    ul.object-promo__list
        li
            span.text-14-grey Этаж
            p.text-18-dark 5/5
        li
            span.text-14-grey Потолок
            p.text-18-dark 4 м
        li
            span.text-14-grey Площадь
            p.text-18-dark 22 230,6 м²
        li
            span.text-14-grey Ставка
            p.text-18-dark 232 150 ₽/м²
        li
            span.text-14-grey Стоимость в месяц
            p.text-18-dark 12 098 150 ₽/мес.
        li
            span.text-14-grey Метро
            p.text-18-dark Московские ворота
        li
            span.text-14-grey Адрес
            p.text-18-dark Ново-Рыбинская, 19-21


    .object-promo__galery
        .swiper-pagination.object-promo__pagination
        .object-promo__next
            <svg>
                <use xlink:href="#arrow_right"></use>
            </svg>
        .object-promo__prev
            <svg>
                <use xlink:href="#arrow_left"></use>
            </svg>
        .swiper-wrapper
            img(src="./img/blog_example_img.jpg", alt="").swiper-slide
            img(src="./img/blog_example_img.jpg", alt="").swiper-slide
            img(src="./img/blog_example_img.jpg", alt="").swiper-slide