<!-- Как арендовать помещение -->
section.order-how
    .order-how__title.page-title Как арендовать помещение
    .order-how__list
        .order-how__item
            span.order-how__item-title.text-title 1. Выберите помещение
            p.order-how__item-text Найти помещение можно с помощью фильтра на сайте или интерактивной планировки, которая есть на странице каждого бизнес-центра

        .order-how__item
            span.order-how__item-title.text-title 2. Оставьте заявку
            p.order-how__item-text Позвоните по телефону <a class='order-how__item-tel' href='tel:88127401902'>8 (812) 740 19 02</a> или оставьте заявку через <a class='order-how__item-btn' href=''>форму обратной связи</a>

        .order-how__item
            span.order-how__item-title.text-title 3. Приезжайте на осмотр
            p.order-how__item-text Назначьте день и время, а так же укажите объект, в котором планируется осмотр и приезжайте, ждем вас!