.order-item

    <!-- Инфа по бизнес-центру -->
    .order-item__bc
       .order-item__bc-row
           h4.order-item__bc-name Бизнес-центр «К-1»
           span.order-item__bc-class Класс В+
       p.order-item__bc-address Ново-Рыбинская 19/21, Московский р-н


    .order-item-heading
        span.order-item-heading__title(order-col='room') Помещение
        span.order-item-heading__title(order-col='sqr') Площадь
        span.order-item-heading__title(order-col='price') Ставка
        span.order-item-heading__title(order-col='price_m') Стоимость
        a(href="javascript:void(0)" order-col='del').order-item-heading__title Удалить все

    
    ul.order-item__list
        li.order-item__body
            .order-item__col(order-col='room')
                span.order-item__sub-title Помещение
                span.order-item__name Склад-холодильник №114003, этаж 4/7

            .order-item__col(order-col='sqr')
                span.order-item__sub-title Площадь
                span.order-item__num 70 м²

            .order-item__col(order-col='price')
                span.order-item__sub-title Ставка
                span.order-item__num 700 ₽/м²

            .order-item__col(order-col='price_m')
                span.order-item__sub-title Стоимость
                span.order-item__num 2 236 323 ₽/мес.



            a(href="javascript:void(0)" order-col='del').order-item__del-btn
                <svg class="order-item__del-icon">
                    <use xlink:href="#x_mark"></use>
                </svg>
                span Удалить

        li.order-item__body
            .order-item__col(order-col='room')
                span.order-item__sub-title Помещение
                span.order-item__name Склад-холодильник №114003, этаж 4/7

            .order-item__col(order-col='sqr')
                span.order-item__sub-title Площадь
                span.order-item__num 70 м²

            .order-item__col(order-col='price')
                span.order-item__sub-title Ставка
                span.order-item__num 700 ₽/м²

            .order-item__col(order-col='price_m')
                span.order-item__sub-title Стоимость
                span.order-item__num 2 236 323 ₽/мес.



            a(href="javascript:void(0)" order-col='del').order-item__del-btn
                <svg class="order-item__del-icon">
                    <use xlink:href="#x_mark"></use>
                </svg>
                span Удалить


    <!-- Посмотреть все помещения для этого БЦ -->
    include ../../components/form_gg_grey.pug



.order-item

    <!-- Инфа по бизнес-центру -->
    .order-item__bc
       .order-item__bc-row
           h4.order-item__bc-name Бизнес-центр «К-2»
           span.order-item__bc-class Класс В+
       p.order-item__bc-address Ново-Рыбинская 19/21, Московский р-н


    .order-item-heading
        span.order-item-heading__title(order-col='room') Помещение
        span.order-item-heading__title(order-col='sqr') Площадь
        span.order-item-heading__title(order-col='price') Ставка
        span.order-item-heading__title(order-col='price_m') Стоимость
        a(href="javascript:void(0)" order-col='del').order-item-heading__title Удалить все

    
    ul.order-item__list
        li.order-item__body
            .order-item__col(order-col='room')
                span.order-item__sub-title Помещение
                span.order-item__name Склад-холодильник №114003, этаж 4/7

            .order-item__col(order-col='sqr')
                span.order-item__sub-title Площадь
                span.order-item__num 70 м²

            .order-item__col(order-col='price')
                span.order-item__sub-title Ставка
                span.order-item__num 700 ₽/м²

            .order-item__col(order-col='price_m')
                span.order-item__sub-title Стоимость
                span.order-item__num 2 236 323 ₽/мес.



            a(href="javascript:void(0)" order-col='del').order-item__del-btn
                <svg class="order-item__del-icon">
                    <use xlink:href="#x_mark"></use>
                </svg>
                span Удалить

        li.order-item__body
            .order-item__col(order-col='room')
                span.order-item__sub-title Помещение
                span.order-item__name Склад-холодильник №114003, этаж 4/7

            .order-item__col(order-col='sqr')
                span.order-item__sub-title Площадь
                span.order-item__num 70 м²

            .order-item__col(order-col='price')
                span.order-item__sub-title Ставка
                span.order-item__num 700 ₽/м²

            .order-item__col(order-col='price_m')
                span.order-item__sub-title Стоимость
                span.order-item__num 2 236 323 ₽/мес.



            a(href="javascript:void(0)" order-col='del').order-item__del-btn
                <svg class="order-item__del-icon">
                    <use xlink:href="#x_mark"></use>
                </svg>
                span Удалить


    <!-- Посмотреть все помещения для этого БЦ -->
    include ../../components/form_gg_grey.pug


.order-item

    <!-- Инфа по бизнес-центру -->
    .order-item__bc
       .order-item__bc-row
           h4.order-item__bc-name Бизнес-центр «К-3»
           span.order-item__bc-class Класс В+
       p.order-item__bc-address Ново-Рыбинская 19/21, Московский р-н


    .order-item-heading
        span.order-item-heading__title(order-col='room') Помещение
        span.order-item-heading__title(order-col='sqr') Площадь
        span.order-item-heading__title(order-col='price') Ставка
        span.order-item-heading__title(order-col='price_m') Стоимость
        a(href="javascript:void(0)" order-col='del').order-item-heading__title Удалить все

    
    ul.order-item__list
        li.order-item__body
            .order-item__col(order-col='room')
                span.order-item__sub-title Помещение
                span.order-item__name Склад-холодильник №114003, этаж 4/7

            .order-item__col(order-col='sqr')
                span.order-item__sub-title Площадь
                span.order-item__num 70 м²

            .order-item__col(order-col='price')
                span.order-item__sub-title Ставка
                span.order-item__num 700 ₽/м²

            .order-item__col(order-col='price_m')
                span.order-item__sub-title Стоимость
                span.order-item__num 2 236 323 ₽/мес.



            a(href="javascript:void(0)" order-col='del').order-item__del-btn
                <svg class="order-item__del-icon">
                    <use xlink:href="#x_mark"></use>
                </svg>
                span Удалить


    <!-- Посмотреть все помещения для этого БЦ -->
    include ../../components/form_gg_grey.pug