section.blogs-main
    a(href="javascript:void(0)").blogs-main-item
        h4.blogs-main-item__title Расположения бизнес-центров и их классификация
        .blogs-main-item__info
            span.blogs-main-item__info-date 10 авг
            span.blogs-main-item__info-views 666
            span.blogs-main-item__info-likes 666К

        p.blogs-main-item__desc Офисные помещения имеют свою классификацию. Ту или иную категорию присваивают офису исходя из множества критериев.

        .blogs-main-item__btn Читать статью

    a(href="javascript:void(0)").blogs-main-item
        h4.blogs-main-item__title Покупка или аренда офиса?
        .blogs-main-item__info
            span.blogs-main-item__info-date 10 авг
            span.blogs-main-item__info-views 666
            span.blogs-main-item__info-likes 666К

        p.blogs-main-item__desc Офисные помещения имеюt свою классификацию. Ту или иную категорию присваивают офису исходя из множества критериев.

        .blogs-main-item__btn Читать статью

    a(href="javascript:void(0)").blogs-main-item
        h4.blogs-main-item__title Как обеспечить привлекательность бизнес-центра для арендаторов
        .blogs-main-item__info
            span.blogs-main-item__info-date 10 авг
            span.blogs-main-item__info-views 666
            span.blogs-main-item__info-likes 666К

        p.blogs-main-item__desc Офисные помещения имеют свою классификацию. Ту или иную категорию присваивают офису исходя из множества критериев.

        .blogs-main-item__btn Читать статью

    a(href="javascript:void(0)").blogs-main-item
        h4.blogs-main-item__title Коммерческая недвижимость в Санкт-Петербурге: комплексный подход
        .blogs-main-item__info
            span.blogs-main-item__info-date 10 авг
            span.blogs-main-item__info-views 666
            span.blogs-main-item__info-likes 666К

        p.blogs-main-item__desc Офисные помещения имеют свою классификацию. Ту или иную категорию присваивают офису исходя из множества критериев.

        .blogs-main-item__btn Читать статью

    a(href="javascript:void(0)").blogs-main-item
        h4.blogs-main-item__title Преимущества аренды офиса без посредников
        .blogs-main-item__info
            span.blogs-main-item__info-date 10 авг
            span.blogs-main-item__info-views 666
            span.blogs-main-item__info-likes 666К

        p.blogs-main-item__desc Офисные помещения имеют свою классификацию. Ту или иную категорию присваивают офису исходя из множества критериев.

        .blogs-main-item__btn Читать статью