section.blogs-main
    .dd-faq._show
        p.dd-faq__header Зачем мне оставлять свои контакты?
        .dd-faq__content
            p.dd-faq__text Наиболее серьёзную угрозу для пользователей представляют вредоносные программы, занимающиеся сбором конфиденциальных данных: электронных адресов, телефонных номеров, координат месторасположения, логинов от Facebook. Они особенно распространены среди Android Market. Затем полученная информация может передаваться брокерам по рекламе и аналитическим компаниям.

    .dd-faq
        p.dd-faq__header Сколько нужно денег на аренду производственной площадки? Выгодно ли сейчас заниматься этим делом?
        .dd-faq__content
            p.dd-faq__text Наиболее серьёзную угрозу для пользователей представляют вредоносные программы, занимающиеся сбором конфиденциальных данных: электронных адресов, телефонных номеров, координат месторасположения, логинов от Facebook. Они особенно распространены среди Android Market.

    .dd-faq
        p.dd-faq__header Арендовать с НДС или без? Какие есть риски? С чего начинать ?
        .dd-faq__content
            p.dd-faq__text Наиболее серьёзную угрозу для пользователей представляют вредоносные программы, занимающиеся сбором конфиденциальных данных: электронных адресов, телефонных номеров, координат месторасположения, логинов от Facebook.